.slant {
    margin: 6em auto;
    max-width: 1440px;
    position: relative;
    z-index: 1;
}

.slant-before::before, .slant-after::after {
    border-color: #fce5b2;
    border-width: 5px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-3deg);
}

.slant-before::before{
    border-top-style: solid;
    top: -3em;
}

.slant-after::after {
    border-bottom-style: solid;
    bottom: -3em;
}

.top, .bottom {
    margin: 0 auto;
    width: 100%;
}

.fixed-top, .fixed-bottom {
    background-color: inherit;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.fixed-top { text-align: left; }

.fixed-bottom { text-align: right; }

.fixed-top *, .fixed-bottom * {
    position: relative;
    z-index: 3;
}

.slant-after.fixed-top, .slant-before.fixed-bottom { background-color: transparent; }

.slant-after.fixed-top::after, .slant-before.fixed-bottom::before {
    height: 1000px;
    z-index: 1;
}

.slant-after.fixed-top::after {
    background-color: #012545;
    background-image: url("../images/background-top.jpg");
    bottom: 0;
}

.slant-before.fixed-bottom::before {
    background-color: #4F6573;
    top: 0;
}

.slant-after.top::after { bottom:0px; }

.slant-before.bottom::before { top:-2px; }
